# Data
data/

# Python
__pycache__/
*.pyc

# Environment
venv/
.env
.ipynb_checkpoints/

# OS
.DS_Store
# Colab Notebooks and Large Datasets
ml/train_colab.ipynb
ml/train_kaggle.ipynb
isimand_dataset.zip
